
<div class="jumbotron">
  <h1>We're tying the knot...</h1>
  <br>
  <br>
 <p><button id="rsvpbutton" type="button"><%= link_to "RSVP", new_user_path %></button></p>
</div>
<div class = "upperdiv">

	<div class = "messageboard">
		<h2>Wedding Board</h2>
		<br>

		<% User.each do |x| %>
			<% if x.message %>
			<%= x.name + " - " %>
			<%= x.message %><br>
			<% end %>
		<% end %>
		<br>
	</div>
</div>
<div class = "bottomdiv">
</div>
	







