
<div class="jumbotron">
  <h1>We're tying the knot...</h1>
  <br>
  <br>
 <p><button id="rsvpbutton" type="button"><%= link_to "RSVP", new_user_path %></button></p>
</div>
<div class = "imagediv">
	<div class = "messageboard">
	</div>

</div>





