<!-- <h1>you are cordially invited...</h1> -->

<div class="jumbotron">
  <h1>We're tying the knot...</h1>
  <br>
  <br>
 <p><button id="rsvpbutton" type="button"><%= link_to "RSVP", new_user_path %></button></p>
</div>
	
<%#= link_to "RSVP", new_wedding_path %>