// Place all the styles related to the weddings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	font-family: 'Dancing Script', cursive;
}

.imagediv {
	background-image: url('../assets/images/image1.jpg');
}

.messageboard {
	height: 100%;
	width: 50%;
	background-color: rgba(153,255,255,.5);
}